body {
  padding-top: 70px;
}
header .navbar-brand {
  color: #e0cb4b !important;
  font-weight: bold;
}
header .user-auth .err {
  padding: 7px 5px 10px 5px;
}
footer {
  height: 60px;
}
.films-list img {
  max-height: 120px;
}
.films-list p.desc {
  height: 125px;
  overflow: hidden;
}
.films-list h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
