{% load form_utils %}

<div id="form-template">
    <div class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">
                        {% if id %}
                            Редактирование фильма
                        {% else %}
                            Добавление фильма
                        {% endif %}
                    </h4>
                </div>
                <div class="modal-body">
                    <form action="./" method="post" class="" role="form">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{ id }}">

                        <div class="alert alert-danger err hide">

                        </div>
                        {% for field in form %}
                            {% if field.field.widget|is_checkbox %}
                                <div class="checkbox">
                                    <label>
                                        {{ field }} {{ field.label }}
                                    </label>

                                    <div class="clearfix"></div>
                                    {% if field.errors%}
                                        <p class="text-danger">{{ field.errors.0}}</p>
                                    {% elif field.help_text %}
                                        <p class="help-block"><small>{{ field.help_text}}</small></p>
                                    {% endif %}
                                </div>
                            {% elif field.field.widget|is_select_multiple %}
                                <div class="form-group">
                                    <div>
                                        {{ field|label_add_class:'control-form' }}
                                    </div>
                                    <div>
                                        <select name="{{ field.name }}" multiple class="form-control">
                                            {% for instance in field.field.queryset %}
                                                <option
                                                        value="{{ instance.pk }}"
                                                        {# FIXME: Не понял как сделать  получение выбранных записей - selected #}
                                                >
                                                    {{ instance.name }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                            {% else %}
                                <div class="form-group">
                                    <div>
                                        {{ field|label_add_class:'control-form' }}
                                    </div>
                                    <div>
                                        {{ field|add_class:'form-control' }}
                                    </div>
                                    <div class="clearfix"></div>
                                    {% if field.errors%}
                                        <p class="text-danger">{{ field.errors.0}}</p>
                                    {% elif field.help_text %}
                                        <p class="help-block"><small>{{ field.help_text}}</small></p>
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endfor %}
                        {% if id %}
                            <input type="submit" onclick="change_film({{ id }}); return false;" class="btn btn-default" value="Сохранить">
                        {% else %}
                            <input type="submit" onclick="change_film(); return false;" class="btn btn-default" value="Добавить фильм">
                        {% endif %}
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal"> Закрыть
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>