<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Панель управления</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/admin/">Дашбоард</a>
                </li>
                <li><a href="/admin/users/">Пользователи</a></li>
                <li><a href="/admin/films/">Фильмы</a></li>
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
</nav>